@import 'colors';

.separator {
    display:block;
    margin-top: 80px;
}

.logo {
    width:140px;
}

.footerImg {
    position: absolute;
    left: 20px;
    width: 120px;
    top: -80px;
}
.socialIcon {
    width:32px;
}

.footerCopy {
    vertical-align: middle;
    color: #ffffff;
}

.carouselImg {
    height:250px;
}