@import 'colors';

.container-fluid {
    margin-top: 16px;
}

.footerImg {
    position: absolute;
    left: 20px;
    width: 120px;
    top: -70px;
}

.footerCopy {
    color: #ffffff;
    vertical-align: middle;
    margin-left: 120px;
}